footer{
    width: 100%;
    height: 182px;
}

.footer__wrapper{
    width: 90%;
    margin: 0 auto;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social__links{
    display: flex;
    align-items: center;
    gap:35px;
}
.footer__wrapper p{
    font-weight: normal;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

/* Dark */

color: #21243D;
}